/* Add your styles here */

/* Main Page */
.tm-theme-navbar {color:#000 !important; background-color:#5f5f5f}
.tm-theme-main {color:#262626 !important; background-color:#d9d9d9}
.tm-padding-24 {padding-top:24px!important;padding-bottom:24px!important; padding-left:64px; padding-right:64px}

/* Text Blocks */
.tm-theme-txtblock {color:#737373 !important; background-color:#ffffff}
.tm-padding-txtblock {padding-top:24px!important;padding-bottom:24px!important; padding-left:24px; padding-right:24px}
.tm-heading {color:teal; font-family: 'Times New Roman', Times, serif; font-size:36px; padding-top:24px}
.tm-col-padding {padding:8px}
